:root {
  --navyBlue: #000342;
  --dustBlue: #2f484d;
  --LdustBlue: #43676e;
  --green: #4a4317;
  --gold: #c48600;
  --red: #812301;
  --maroon: #301408;
  --silver: #c0c0c0;
}

body {
  background-color: var(--dustBlue);
}

/* -----Footer Positioning----- */
#root {
  position: relative;
  min-height: 100vh;
  background-color: var(--dustBlue);
}

.footer-positioning {
  padding-bottom: 2.5rem;
}

footer {
  display: block;
  position: absolute;
  bottom: 0;
  text-align: center;
  height: 2.5rem;
  background-color: var(--dustBlue);
}

.footer-font {
  color: var(--gold);
}

/* -----Login----- */
h1 {
  text-align: center;
}

.padding-login {
  padding-left: 50px;
}

label {
  color: white;
}

.loginForm {
  background-color: var(--LdustBlue);
  width: 550px;
  padding: 10px;
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
}

.login-header {
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}

/* https://fdossena.com/?p=html5cool/buttons/i.frag */
button.button6 {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  background-color: var(--gold);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

button.button6:active {
  top: 0.1em;
}

@media all and (max-width: 30em) {
  button.button6 {
    display: block;
    margin: 0.4em auto;
  }
}

/* -----Navbar----- */
nav {
  background-color: var(--navyBlue);
}

.navbar-brand {
  font-family: "Limelight", cursive;
  font-size: 3.25rem;
}

.navbar-light .navbar-brand {
  color: var(--gold);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: var(--gold);
}

.nav-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

/* https://codingyaar.com/responsive-bootstrap-navbar-with-logo-centered-above-navbar/ */
.navbar .navbar-nav .nav-link {
  color: var(--gold);
  font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--dustBlue);
}

@media only screen and (min-width: 960px) {
  .navbar {
    flex-direction: column;
  }
}

@media only screen and (min-width: 960px) {
  .navbar .navbar-nav {
    border-bottom: 2px solid var(--dustBlue);
  }

  .navbar .nav-item {
    padding: 0.5em 1em;
  }
}

video {
  max-width: 80%;
}

.navbar .navbar-nav {
  margin-top: 0.5em;
  border-top: 2px solid var(--dustBlue);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--LdustBlue);
}

.navbar-light .navbar-toggler {
  color: var(--gold);
  border-color: var(--gold);
}

/* -----Upload Page----- */
.upload-container {
  margin-top: 15px;
  padding-bottom: 10px;
  background-color: var(--LdustBlue);
  font-family: "Montserrat", sans-serif;
}

.upload-label {
  text-align: center;
  margin: 15px 0;
}

.upload-padding-top {
  padding-top: 15px;
}

/* -----Video Card Stylings-----*/

.card-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  background-color: var(--navyBlue);
  color: var(--gold);
}

.card-body {
  background-color: var(--LdustBlue);
  color: white;

}

.roboto-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.card {
  border: none;
}

/*-----Video Page Link Hover-----*/

/*-----Profile Page-----*/

.delete-trash {
  color: white;
  font-size: 25px;
}

.delete-trash:hover {
  color: var(--gold);
}

.roboto-font2 {
  color: white;
  background-color: var(--LdustBlue);
  font-family: "Limelight", cursive;
}